---
layout: default
title: Chartsnthings
---

<div id="home">
  <div class="main-posts">
    {% for post in site.posts %}

	{% if forloop.index < 10 %}
	    <div class="post-container">
				<p class="meta">{{ post.date | date_to_string }}</p>
        <a href="{{site.baseurl}}{{ post.url }}">
			    <h2 class="post-title" >{{ post.title }}</h3>
			  </a>
		    <div class="post">
		    	{{ post.content }}
		    </div> 
		  </div>
	{% endif %}


		{% if forloop.index >=10 %}
		<h6 class="older-posts"><a href="">{{post.title}}</a></h6>		
		{% endif %}		

    {% endfor %}
	</div>
</div>