---
layout: default
title: chartsnthings
---
<p class="site-intro"><a href="http://www.twitter.com/KevinQ">Kevin Quealy</a>’s blog of data sketches, process and junk, mostly from the New York Times Graphics Department</p>

<div id="home">
  <div class="main-posts">
    {% for post in site.posts %}

	{% if forloop.index < 10 %}
	    <div class="post-container">
				<p class="meta">{{ post.date | date: '%B %d, %Y' }}</p>
		
				{% if post.layout == "post" %}
			  	<h2 class="post-title" >
  			            <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
				  </h2>
			    <div class="post">
			    	{{ post.content }}
			    </div>
				{% endif %}

				{% if post.layout == "simple" %}
			    <div class="post">
			    	{{ post.content }}
			    </div>
					<a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
				{% endif %}		    

		  </div>
		{% endif %}
  {% endfor %}
	
	</div>

  <h6>Older posts</h6>
  <table class="older-posts">
	  {% for post in site.posts %}
			{% if forloop.index >=10 %}
				<tr class="older-list-item">
					<td class="older-date">{{ post.date | date_to_string }}</td>
					<td class="older-link"><a href="{{site.baseurl}}{{ post.url }}">{{post.title}}</a></td>
				</tr>		
			{% endif %}
	  {% endfor %}
	</table>
</div>